{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {# Basic Page Needs #}
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}

        {# Global javascript #}

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
