{% extends "base.html" %}
{% load static %}
{% block title %}Luodingo{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'course.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Available Courses</h1>

        <div class="lesson-list">
            {% for course in courses %}
                <div class="lesson">
                    <a href="{% url 'learn:course_detail' course.id %}">{{ course.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
