{% extends "base.html" %}
{% load static %}
{% block title %}Upload Lesson{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'upload.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Upload Lesson for {{ course.title }}</h1>

        <h3>CSV Format Example:</h3>
        <textarea readonly class="csv-example">
Lesson Title
Question text,right answer,wrong answer,wrong answer,wrong answer
"How much is 2 + 2",four,five,one,seven
        </textarea>
        
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file" required>
            <button type="submit" class="upload-btn">Upload</button>
        </form>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <a href="{% url 'learn:course_detail' course.id %}" class="back-link">Back to Course</a>
    </div>
{% endblock content %}
